@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  position: relative;
}

h3 {
  font-weight: 600;
  color: #05457a;
}
/* Estilo para o modo claro */
body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #191919;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo para o modo escuro */
.dark-mode {
  background-color: #191919;
  color: #f6f6f6;
}

.dark-mode h3 {
  color: #7ab9ec;
}

header {
  position: relative;
}

#toggle-mode {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #5a758b;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#toggle-mode:hover {
  background-color: #7ab9ec;
}

/* Estilo perguntas */
#questions-container {
  margin: 20px; 

#questions-container div {
  margin-bottom: 10px; 
}

#questions-container div input[type="radio"] {
  margin-bottom: 10px; /
}

button {
  margin-left: 20px;
  background-color: #05457a;
  color: #f6f6f6;
  border: 0.3px solid #7ab9ec;
  border-radius: 20px;
  padding: 16px 60px;
  text-transform: uppercase;
  font-weight: 700;
}

button .dark-mode {
  background-color: #7ab9ec;
  color: #f6f6f6;
  border: 0.3px solid #05457a;
  border-radius: 20px;
  padding: 16px 60px;
  text-transform: uppercase;
  font-weight: 700;
}

button:hover {
  background-color: #2193f1;
  font-weight: 900;
  cursor: pointer;
}

#correct-answers-container {
  padding: 20px;
}

@media screen and (max-width: 640px) {
  header h1 {
    font-size: 16px;
  }
  #questions-container {
    font-size: 12px;
  }

  #toggle-mode {
    margin: 10px;
    padding: 10px 10px;
  }
}
